# macOS only
.DS_Store

# Python build and test artifacts
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
.coverage
coverage.xml
htmlcov/
.pytest_cache/
dist/
build/

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Pyve virtual environment
.pyve/testenv
.envrc
.env
.venv


# Generic

# Project
.archive
/site/
out/

# removed and added with `pyve --init --force`

# project-guide
/docs/project-guide/.metadata.yml
/docs/project-guide/README.md
/docs/project-guide/developer/
/docs/project-guide/templates/
/docs/project-guide/**/*.bak.*
